QWidget#centralwidget{
    background-color: qlineargradient(
        x1:0, y1:0, x2:1, y2:1,
        stop:0 #c0604962, stop:1 #c00C1824);
    border: 1px solid white;
    border-color: rgba(255, 255, 255, 128);
}
